In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import re
import pandas as pd 

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [2]:
url = "https://bhtr.itsyourrace.com/EventCheck.aspx?id=384"
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [3]:
# create list of potential 2-letter combinations for searching purposes

vowels = ['a', 'e', 'i', 'o', 'u']
consonants = ['b', 'c', 'd', 'f', 'g', 'h','j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
combined_list = []

for vowel in vowels:
    for consonant in consonants:
        # combined_list.append(f"{vowel}{consonant}")
        combined_list.append(f"{consonant}{vowel}")

len(combined_list)

105

In [7]:
# create function to pull table search results

entrants_list = []
hometown_list = []
distance_list = []

def get_entrant():

    try:
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')

        main_area = soup.find("div", id="ctl00_ContentPlaceHolder1_pnlResults")

        entrants_table = main_area.find('table', class_="regCheck")

        entrants = entrants_table.find_all('tr')


        for i in range(1,len(entrants)):
        
            name = entrants[i].find('td', class_='col2').text.strip()
            location = entrants[i].find('td', class_='col3').text.strip()
            distance = entrants[i].find('td', class_='col1').text.strip()

            if name in entrants_list:
                next
            
            else:
                entrants_list.append(name)
                hometown_list.append(location)
                distance_list.append(distance)
    except:
        next

In [8]:

for name in combined_list:

    browser.fill('ctl00$ContentPlaceHolder1$txtLastName', name)

    browser.find_by_name('ctl00$ContentPlaceHolder1$btnSearch').first.click()
    
    get_entrant()

In [9]:
# create df from generated lists
entrants_df = pd.DataFrame()

entrants_df['entrant'] = entrants_list
entrants_df['hometown'] = hometown_list
entrants_df['distance'] = distance_list

entrants_df

               entrant           hometown distance
0     BEEF ARCHAMBAULT         Poplar, MT      32M
1            Ray Bader         Casper, WY      18M
2           BEN BAEDKE     Evansville, WY      32M
3        STEVE BAIARDI             Rowley     100M
4       AMBERLEY BAKER        Jackson, WY      18M
...                ...                ...      ...
1549    MADDOX MCQUEEN        Douglas, WY      32M
1550        SARA QUINN       Belgrade, MT      52M
1551       GREG STUART  Thousand Oaks, CA      52M
1552       Della Stump         Hardin, MT      32M
1553             DI WU            Pullman     100M

[1554 rows x 3 columns]

In [10]:
# split into state and town columns
hometown = entrants_df['hometown'].str.split(',', expand=True)[0]
homestate = entrants_df['hometown'].str.split(',', expand=True)[1]

entrants_df['hometown'] = hometown
entrants_df['homestate'] = homestate

#reorder columns, sort by state
entrants_df = entrants_df.iloc[:,[0,1,3,2]].sort_values(by='homestate')

In [11]:
entrants_df

               entrant    hometown homestate distance
350      STEPHEN VIOLA    Cochrane        AB      32M
737   DREW SOMMERFELDT  Lethbridge        AB      32M
397   MATTHEW MANTELLO     Calgary        AB      32M
796       KARYN HIGHET     Calgary        AB      52M
1356       JOAN NORRIS  Lethbridge        AB      18M
...                ...         ...       ...      ...
1543       BRIAN SUKUT  Livingston      None     100M
1544     CHELSEA CLUFF        Reno      None     100M
1546        JACOB LUTZ  Waterville      None     100M
1548     LAURA MC MUNN   Vancouver      None     100M
1553             DI WU     Pullman      None     100M

[1554 rows x 4 columns]

In [18]:
last_first = []
for i, row in entrants_df.iterrows():
    last_first.append(f"{entrants_df['entrant'][i].split(' ', 1)[1]}, {entrants_df['entrant'][i].split(' ', 1)[0]}")

['VIOLA, STEPHEN',
 'SOMMERFELDT, DREW',
 'MANTELLO, MATTHEW',
 'HIGHET, KARYN',
 'NORRIS, JOAN',
 'EISENREICH, BRANDON',
 'KOZUB, JON',
 'WILSON, PAT',
 'KANASHIRO, DERRICK',
 'PENNER, KEN',
 'SNOW, KIMBER',
 'PADDICK, KESHIA',
 'REYNA, EMILIO',
 'MCFARLAND, MICHELLE',
 'WALLACE, DAVID',
 'HUBAND, NATHAN',
 'MEARNS, FRANK',
 'AGUIRRE, ANDREAS',
 'LOWE, ALEX',
 'MAHRE, MICHAEL',
 'MAHRE, SEAN',
 'ZEICHICK, ANTHONY',
 'JOSHI, KAVYA',
 'KIROVSKI, TOM',
 'HERZOG, PAUL',
 'LEE, SONG',
 'SIEGEL, AMY',
 'FREEMAN, EBEN',
 'MITROS, BARBIE',
 'EVAUL, GRETCHEN',
 'GUERARD, SIMON',
 'ASMUTH, PETER',
 'STUART, GREG',
 'MCGEHEE, WILLIAM',
 'GALLIPO, MADISON',
 'BERTRAND, SANDRA',
 'VAN WILLIGEN, RONA',
 'KA, KUMMI',
 'PETERSEN, DREW',
 'AYRES, EMILY',
 'EVANS, RYAN',
 'KITTRELL, SYDNEY',
 'DVORAK, NICOLLE',
 'Hiebenthal, Laura',
 'HUNTER, TAMMY',
 'STETTNER, SEAN',
 'GRAY, LONI',
 'WESCOTT, JENNIFER',
 'BYERS, MEGAN',
 'MONSER-GRAY, KRISTIN',
 'GOLDHAMMER, GRADY',
 'HIGGINSON, CHARLOTTE',
 'MCGINTY, TESS',
 'BRODZINSKI, THERESA',
 'PORTER, MIKE',
 'SIEGEL, STACEY',
 'NEWBY, BLAKE',
 'KLEAGER, JIMMY',
 'WIEDERKEHR, BENJAMIN',
 'SCHUMACHER, SARAH',
 'ROBERTS, TERRY',
 'BESTE, STEPHANIE',
 'JECH, SIERRA',
 'JESSEN, CLAY',
 'ROZARIO, NIGEL',
 'ESKEW, LANE',
 'ZIRKER, CATHERINE',
 'YANCHEK, ANNA',
 'BORLEIS, KAY',
 'BOLLMAN, JEFF',
 'FOLEY, JAMES',
 'WARNER, ROSS',
 'PARK, RICHARD',
 'SUELAU, LAURA',
 'LI HOLEY, ANNA',
 'WALKER, WOODROW',
 'MILLER, WHITNEY',
 'HUME, AMY',
 'PARRILL, IAN',
 'CLARKSON, KIM',
 'PAUL, LOUISA',
 "O'CONNELL, TOM",
 "O'GRADY, JANICE",
 'PIERSON, MEAGAN',
 'PICCOLOTTI, NICOLO',
 'CURRY, STEVE',
 'PORT, RACHEL',
 'COEN, BRAD',
 'MARBAKER, RACHEL',
 'FOURNIER, ISAAC',
 'COX, JOE',
 'SMITH, KATHERINE',
 'BROSS, TED',
 'MOUL, SPENCER',
 'MORTON, NAMIE',
 'PORT, SETH',
 'CHRISTL, KELLY',
 'SIMS, GRACE',
 'SMITH, GRANT',
 'SIMS, DON',
 'MOLL, JEFF',
 'CAPUTO, ISABELLE',
 'SMIDT, KAREN',
 'BARBER, KITTY-BETH',
 'ADAMS, JESSE',
 'PIERSON, PAUL',
 'TUBMAN, REBECCA',
 'PENNINGTON, NOAH',
 'Trocha Morelos, Sergio',
 'WALKER, MOLLY',
 'HOLDEN, TIMOTHY',
 'CURRY, SHAWN',
 'FUHRER, NICOLE',
 'GOSSMAN, MELISSA',
 'GIORGI, SCOTT',
 'SARIDAKIS BEAN, RAMONA',
 'PETERSON, SHANE',
 'MCGAFFIN, EMILY',
 'PRINDLE, KENDRA',
 'PRINDLE, SILAS',
 'WADSWORTH, OWEN',
 'TURCOTT, LARRY',
 'VAUGHAN, DREW',
 'PAGE, TOM',
 'HAZEN, JIM',
 'MEADE, CHRISTOPHER',
 'MIZICKO, TODD',
 'HIDAKA, YUICHIRO',
 'SALAMANCA, ANDRES',
 'ALLEN, MATTHEW',
 'JOHNS, JUSTIN',
 'AVERILL, DOUGLAS',
 'SCHIESSL, BRYAN',
 'SOKOLOSKY, GORDON',
 'HANSEN, ELLIOTT',
 'ZARUBA, GREG',
 'LANDER, JULIE',
 'MASTERNAK, AMY',
 'MEURER, BETH',
 'JOHNSON, BROOKE',
 'SEGUIN, KAREN',
 'LOPER, ALSTON',
 'HARRIS, BRYAN',
 'LARSON, LORI',
 'VOSS, BRYAN',
 'NEW, LINDSAY',
 'MONETTE, NATHAN',
 'HOLTZ, ALLAN',
 'MOORE, JAMIE',
 'KENIRY, TODD',
 'WESTERLAND, CRAIG',
 'EKKA, BIRBAL',
 'HAASE, KAITLIN',
 'HUNT, HOLLY',
 'MISTRETTA, KATY',
 'MOLM, KRISTI',
 'HUTCHENS, BREANNE',
 'STAPLES, MALORIE',
 'TATE, EMMA',
 'BECSY, BENCE',
 'TATE, SHARI',
 'KESSELHEIM, SAWYER',
 'ARNOLD, CHUCK',
 'hugs, frank',
 'HEIN, ABRAM',
 'EVANS, TAYLEE',
 'HEGGI, PATRICK',
 'Holds The Enemy, LaraMia',
 'TAYLOR, LAUREN',
 'MEUCHEL, DANIEL',
 'SAUSKOJUS, COLIN',
 'RAMSEY, NINA',
 'QUINN, SARA',
 'LIMESAND, ELLE',
 'MIKELS, DEBRA',
 'MICKELSON, MATTHEW',
 'KELLY, KATY',
 'LINDSAY, CHRISTOPHER',
 'KEEHN, CHEZ',
 'JOHNSON, LORI',
 'EIKENS, MARYANN',
 'EDLUND, PAUL',
 'JEO, RICHARD',
 'OPHUS, KELSIE',
 'WHEELER, NATALEE',
 'THEISEN, JONAH',
 'rutherford, jerimi',
 'VOGEL, SAM',
 'LUTHER, GREGORY',
 'STEIGER, CAVIN',
 'KRUGER, JENNIFER',
 'SNOW, TENLY',
 'Alden, Nema',
 'Buck Elk, Ron',
 'WOOD, ALLIE',
 'VINCENT, SHAWN',
 'WOLF, MELISSA',
 'OLD CROW, LUCINDA',
 'WIMBERLY, TERRAN',
 'CROOTOF, MATT',
 'Ten Bear, Jonah',
 'BURROWS, TRAVIS',
 'SCHIEBEL, LEWIS',
 'BROWN, MACKENZIE',
 'KLEBE, LOGYN',
 'KLEBE, KRISTIN',
 'KLEBE, JUSTIN',
 'GILBERT, JASON',
 'BURROUGHS, JED',
 'WADDINGTON, JESSICA',
 'Stewart, Punky',
 'BROWN, CANDACE',
 'Stewart, Kayden',
 'Van Order, Terri',
 'BELLIVEAU, BRIDGET',
 'CORNWALL, ANITA',
 'BUDGE, LOREN',
 'BRUTGER, STEVEN',
 'BRODY, MIRA',
 'SHUMWAY, CASSIDY',
 'KEEFE, BRIAN',
 'MCCURDY, DALTON',
 'Jefferson, Michelle',
 ' Jefferson, Edison',
 'BUNZ, JOSH',
 'Nedens, Sophia',
 'Nedens, Libby',
 'Nedens, Holly',
 'Stewart, Iverson',
 'LUMSDEN, TERI',
 'LINDEN, MARTIJN',
 'Jefferson, Michael',
 'VINCENT, ERICA',
 "Don't Mix, Deidra",
 'JOE, TAYJON',
 'RIVER, WOODS',
 'GIVEN, JENNY',
 'DOVER, JAMES',
 'White, Amber',
 'PUTELIS, JANIS',
 'GRILLOS, ANDREW',
 'Old Coyote, Shaleen',
 'Old Coyote, Brielle',
 'MORRISON, ALLANA',
 'FOSTER, SAM',
 'RIVEY, CINDY',
 'foote, ryle',
 'TOWNSEND, HEIDI',
 'SWENSEN, MCKELL',
 'Asencio, Melaina',
 'REILLY, CHRISTOPHER',
 'REES, MELISSA',
 'Real Bird, Zoey',
 'Real Bird, Dixie',
 'PRETTY BOY, STEPHANIE',
 'MCINTYRE, SANDRA',
 'ANNE NORRIS, MARY',
 'Foote, Branlin',
 'Gutierrez, Courtney',
 'SILVERS, MARA',
 'WEAST, BRAD',
 'WILLIAMS, BEVERLY',
 'LINDBOM, GEORGE',
 'ENGLISH, CHELSEA',
 'SCHMIDT, ZACH',
 'SLOMINSKI, TESSA',
 'KIDD, JULIE',
 'KIDD, CHAD',
 'WORTHINGTON, MARLAYNE',
 'WORTHINGTON, MACKENZIE',
 'WORTHINGTON, KADE',
 'MCDOWELL, KRISTIE',
 'WORTHINGTON, DALLIN',
 'WORTHINGTON, BRENNON',
 'CONCHIERI, HALEY',
 'CONCHIERI, BRYCE',
 'MORNING GUN, MARILYN',
 'DISHNO, STEPHANIE',
 'BIRDINGROUND, QUINTON',
 'Brightwings, Matthew',
 'WELSH, COLIN',
 'Wells, Steve',
 'Wells, Candace',
 'WORTHINGTON, CAMDEN',
 'NORRIS, RUSSELL',
 'BREWIS, RICH',
 'BRESTER, SONJA',
 'EAMES, JULIA',
 'Burmeister, Jacob',
 'Burmeister, Glenna',
 'Burmeister, Daniel',
 'Two Leggins, Sariah',
 'SCHULER, JOSHUA',
 'POHLE, TAYLOR',
 'MOXLEY, ALI',
 'COX, JONNA',
 'MILLER, LEAH',
 'COX, AARON',
 'MILLER, BRIAN',
 'MILEK, DOUG',
 'LITTLETON, KELLI',
 'LITTLE EAGLE, GOLDSTEIN',
 'LITTLE EAGLE, CRYSTAL',
 'LEFKOWITZ, MALLORY',
 'Scott, Charles',
 'LEACH, CHELSIA',
 'GOOD, ERIN',
 'THOM, HANNAH',
 'THOMPSON, JOSLYN',
 'MILLER, ANDREA',
 'ROMERO, ADRIANA',
 'CONNOR, LIZ',
 'WIMETT, LINDSAY',
 'PETERSEN, MEGAN',
 'Lopez, Gabby',
 'WILSON, MARYBETH',
 'PYRAH, ORRIN',
 'COOPEY, ADRIENNE',
 'COOPER, GWEN',
 'WINDYBOY, KANEAN',
 'Brightwings-Pease, Meadow',
 'Brightwings-Pease, Karis',
 'WERNER, KATHARINA',
 'WINGO, SOPHIA',
 'ROCKHOLD STENE, TERRA',
 'WISDOM, GAVIN',
 'WISDOM, TAZIA',
 'NELSON, DEANNA',
 'Kosine, Chris',
 'KINDNESS, ELEANOR',
 'HILDNER, SUZANNE',
 'HILDNER, RICHARD',
 'FINNERTY, ASHLEY',
 'CYRENNE, GENEVIEVE',
 'BURNEY, THOMAS',
 'AUGUSTINE, ZACH',
 'RUCKER, LAUREN',
 'MILLER, SETH',
 'ARCHAMBAULT, BEEF',
 'Not Afraid, Wayne',
 'REDLAND, AARON',
 'Phelan, Merval',
 'LASLOFFY, CALEB',
 'LARSON, SUSAN',
 'ANN LARSON, LEA',
 'LARSON, LAUREN',
 'LANDERS, LEXI',
 'RIELAND, DAN',
 'ELAM, BROCK',
 'CLARK, TYLER',
 'CLARK, BRITTANY',
 'black eagle, levi',
 'black eagle, brocade',
 'BLACK EAGLE, BEAU',
 'KAUFMANN, ANNA',
 'PYRAH, JORDAN',
 'DELAVAN, ADAM',
 'WALLACE, OLIVER',
 'BOWMAN, MASON',
 'MACK, JAY',
 'ULMAN, CASEY',
 'THOMAS, ANNE',
 'OHMAN, NAOMI',
 'OHMAN, BENJAMIN',
 'NAUMAN, CHAD',
 'MARTIN, CHARELLE',
 'Mark, Tobias',
 'Mark, Kristen',
 'Mark, David',
 'Mark, Caleb',
 'MALDONADO, KALEIGH',
 'MAHONEY, SARA',
 'MAHER, KYLA',
 'MAGNUSSON, MAKELLE',
 'MACK, KAMRY',
 'MACK, JUSTICE',
 'MACK, JENNIFER',
 'WHARTON, ANDREW',
 'GUNNARSON, KYLE',
 'WHARTON, AMY',
 'RICHARDS, SUZANNE',
 'CARTER, LEIGHA',
 'CARR, CHAD',
 'CARARA, MATT',
 'CAPRA, JOHN',
 'CAMPFIELD, ZEKE',
 'CALLENDER, CHRISTINA',
 'CALE, TYREL',
 'CAUFIELD, WINSTON',
 'RICKENBAUGH, LILA',
 'HARSHBARGER, LORI',
 'GEBAUER, KAT',
 'Bigback, Jennifer',
 'BASCOM, KATE',
 'BARTA, ELLEN',
 'BARBER, ALANA',
 'BALLERINI, EDWSRD',
 'HARSHBARGER, WES',
 'DUNCAN, ARIEL',
 'MASCARI, KAYLA',
 'Skunkcap, Shawnee',
 'REICHARD, STEPHEN',
 'MICHAUD, EMILY',
 'MICHAEL, NATHAN',
 'HANSEN, GRIFFIN',
 'GRAHAM, LAURA',
 'CHARPENTIER, MANDY',
 'J CHARPENTIER, DAVEY',
 'CHAMBERLAIN, GANNON',
 'MILLIGAN, HAILEY',
 'Stiffarm, Eric',
 'FALLS DOWN, PAULETTE',
 'FALLS DOWN, MICAH',
 'FALLS DOWN, ISAIAS',
 'MUKADAM, TAJ',
 'DAVIS, PATRICK',
 'DABNEY, TEYAN',
 'DABNEY, JAMES',
 'SHAFER, ALEX',
 'HERNANDEZ, CRISTOVAL',
 'Stump, Della',
 'CRANFORD, MEGHANN',
 'DEVERAUX, SARA',
 'PARSONS, MATT',
 'Not Afraid, Mary',
 'DEHERRERA, ALYSSA',
 'FLORA, DANIEL',
 'KOLPA, LUCINDA',
 'ST. ARNAUD, DUSTIN',
 'DEHERRERA, JEREMY',
 'DEVERAUX, JEREMIAH',
 'TALBERT, LEXI',
 'TALBERT, MATHIAS',
 'WHITE, MOLLY',
 'SUTTER, NATE',
 'PARKER, EMILY',
 'POPE, JORDAN',
 'WAGNER, BRANDON',
 'GIERSDORF, JESSICA',
 'WILES, DOUG',
 'CARLSON, MICHAEL',
 'KREIDT, AMY',
 'MOMERAK, MARK',
 'DATA, JUSTIN',
 'JOHNSON, HUNTER',
 'LEE, GUSTIN',
 'MEYERLE, MATTHEW',
 'NICHOLLS, BRITTANY',
 'OTTO, AMANDA',
 'DANIELSON, TODD',
 'KRUSEMARK, RENEE',
 'WIEWEL, ADAM',
 'JOHNSTON, MACKENZIE',
 'BAKER, MEGHAN',
 'DURAN, CHERYL',
 'SAULCY, ASHLEY',
 'LEEDY, GAIL',
 'PARSONS, TAMMY',
 'PIERSON, LEIGH',
 'HOVELL, JOHN',
 'VUKOVICH, ANDREW',
 'VICTORIA FURMAN, HOLLY',
 'RUTHERFORD, BRET',
 'MCGRATH, ROBERT',
 'AVERILL, ANDREW',
 'OUDERKIRK, GERALD',
 'HASKINS, MARY',
 'BEROS, LUKE',
 'BURLESON, JEANNIE',
 'CRABTREE GREEN, DIANA',
 'HILDNER, BEN',
 'SCHLECHT, LISA',
 'MCNEIL, KELLY',
 'MCNEIL, VICTOR',
 'WOLF, NATALIE',
 'HENRY, SUE',
 'LEHOCKY, PATRICE',
 'GELIK, STEPHANIE',
 'MAHAFFEY, ROBERT',
 'HAGEN, JACQUE',
 'PORTERFIELD, LARRY',
 'HAASE, JEFF',
 'WINCHESTER, ERIKA',
 'MAHAFFEY, JULIE',
 'CHRISTIANSON, DUSTIN',
 'SCOTT, TINA',
 'SCOTT, NATE',
 'MCKELVEY, MIKE',
 'THUNDER HAWK, DEREK',
 'PARKER, MATT',
 'OSOWSKI, KEITH',
 'NEISES, STEVE',
 'MENTELE, WES',
 'HUHNERKOCH, KIM',
 'ROBINSON, XIO',
 'BYRD-MORO, KEENA',
 'BENDT, MIKE',
 'Banner, Jerry',
 'RATH, JOE',
 'STRANG, MARIE',
 'BAUMANN, PATRICK',
 'PROUTY, AMANDA',
 'RINGER, JESSI',
 'COLLINS, JACOB',
 'COWERS, LAUREN',
 'SANDERSON, EMY',
 'HANSEN, ELLEN',
 'HAST, HAYDEN',
 'HESTER, ETHAN',
 'HANSEN, MADISON',
 'HOWARD, ADDIE',
 'FERRELL, BOOG',
 'AIELLO, JOSEPH',
 'STANDEFER, SONNI',
 'HOWARD, BRICE',
 'CABBAGE, MATT',
 'HILLS-MARTIN, AMBER',
 'RAYMOND, KYLE',
 'SKIDMORE, RICHARD',
 'RICHARDS, NATHAN',
 'RAYMOND, MEGHAN',
 'KIRKLAND, STEVE',
 'BURTON, JARED',
 'SHEWELL, TIFFANY',
 'NELSON, JOAN',
 'MCCARTY, BRYANT',
 'NELSON, BRUCE',
 'SHAUM, HUGH',
 'MICKELSEN, BROCK',
 'BELISLE, ALEX',
 'PEHRINGER, JACOB',
 'LINDER, CHRIS',
 'MASON, CAROLYN',
 'HAVRANEK, JOHN',
 'PILLOW, JODIE',
 'BRONDOS, GREG',
 'LEEAN, CAROLINE',
 'BRONDOS, JONATHAN',
 'LEVANEN, JODI',
 'SORENSEN, KAMRIN',
 'WALD, JONATHAN',
 'LAVOIE, ANDREW',
 'SCHLECHT, TR',
 'HICKS, SABRINA',
 'REILEY, REHN',
 'HICKS, ADAM',
 'LEHMAN, JT',
 'HIBBERD, SAMANTHA',
 'MCDERMOTT, BRYCE',
 'WHEELER, ZACHARY',
 'MEACHAM, SHAUNA',
 'BERNARDI, CHRIS',
 'BOURGUIGNON, AUDE',
 'MAY, CHRISTINA',
 'JORDAN, JOSH',
 'RICHARDS, GARRETT',
 'KILEN, MASON',
 'REDDEMAN, JACOB',
 'HOUGHTON, PAIGE',
 'WAGNER, JODY',
 'NETT, ELIZABETH',
 'ZURBUCHEN, BARTH',
 'KORB, ANNA',
 'BOCKENHAUER, BJ',
 'KORB, JAMES',
 'BEISER, AARON',
 'STEINKE, BRETT',
 'GRAHAM, PAUL',
 'GROHMANN, ERIK',
 'LONG, DENA',
 'BEISER, JAY',
 'MILLER, ELLA',
 'KING, ERIC',
 'STOFFEL, COLE',
 'KOLIS, NOAH',
 'Easton, Eric',
 'Hicks, Rhemy',
 'Lynn Hitz, M.',
 'Hicks, Robyn',
 'Hill, Corey',
 'Hills, Suzie',
 'PHILLIPS, PARKER',
 'Buckingham, Brianna',
 'Bitanga, Aristides',
 'TRONGARD, JOHN',
 'Muñoz-Lechuga, Fabian',
 'Sutton, Tiff',
 'Alliot, Patricia',
 'JIMENEZ GALAN, LAURA',
 'HOGARTY, KATIE',
 'Gaskill, Annette',
 'Garner, Candace',
 'Gardner, Dallan',
 'GALLOWAY, JENNIFER',
 'WILKINSON, KENZIE',
 'Barron, Jennifer',
 'SKORUPSKI, JOE',
 'Radosevich, Max',
 ' Phillips, Sarah',
 'Drake, Lester',
 'TRACY, AMANDA',
 'Drake, Jennifer',
 'SCHULTZ, JARREN',
 'Hahn, Eli',
 'Hahn, Kristen',
 'Wellborn, Allen',
 'Hahn, Noah',
 'owens, koby',
 'McDowell, Mary',
 'HAKE, EMILY',
 'LOWE, ELISE',
 'WEST, NANCY',
 'BOWER, TARA',
 'vernon, jake',
 'SCHULTZ, JENNA',
 'BAKER, AMBERLEY',
 'BAEDKE, BEN',
 'Harnish, Dani',
 'MCQUEEN, MADDOX',
 'Harnish, Sophia',
 'Bader, Ray',
 'Harns, Josie',
 'WEAVER, CHRIS',
 'BAKKEN, STEVE',
 'ULVESTAD, SETH',
 'RADOSEVICH, BENJAMIN',
 'Tschirgi, Nolan',
 'CHARLES, STEPHAN',
 'BALOGH, MATT',
 'Trentacosti, Tyler',
 'BALOGH, HOLLY',
 'BUSH, TRACY',
 'Springfield, Indra',
 'Filkins, Ashli',
 'BUTTS, JOSH',
 'BALLEW, MANDY',
 'FILIUS, PARKER',
 'BALLEW, JACK',
 'FILIUS, Ellie',
 'Durham, Allen',
 'Dillon, Charleigh',
 'QUILLIAN, JESSE',
 'CIELL, AUGGIE',
 'BALLEW, DREW',
 'ROBINSON, JOSHUA',
 'Corbitt, Lisa',
 'Durham, Jesse',
 'BUCKINGHAM, CLAIRE',
 'Ponciano, Megan',
 'Olson, Kelley',
 'Williams, Alex',
 'Cawiezell, Layla',
 'cawiezell, Sabrina',
 'Compton, Victoria',
 'Caywood, Toni',
 'BOYD, JEREMIAH',
 'Koziol, Amanda',
 'GRAU, BLAINE',
 'Duncan, Jeanna',
 'Duncan, Mike',
 'Coultas, Allia',
 'Cawiezell, Greysen',
 'WILSON, SULLY',
 'McCarthy, Brynn',
 'Brooks, Katelynn',
 'McCarthy, Mindy',
 'Wilson, Kat',
 'WILSON, JOE',
 'Wilson, Allie',
 'WILLOUGHBY, TREVOR',
 'BROWN, CALVIN',
 'Stimson, Andrea',
 'MCCARTY, HEIDI',
 'DECKENBACH, JORDAN',
 'SIMMONS, JENN',
 'Cawiezell, Aaron',
 'PORT, JOSH',
 'campbell, panida',
 'Straub, Matt',
 'arcarese, Rebecca',
 'SIBBALD, KELSIE',
 'CARLING, MATT',
 'Mowry, Jeff',
 'CARLSON, ANNEMARIE',
 'THOMPSON, TOM',
 'THOMPSON, LISA',
 'Mowry, Makena',
 'CATTERALL, ASHER',
 'CARLSON, KENNETH',
 'Ruybal, Jason',
 'Suchor, Rhiannon',
 'Short, Marlene',
 'Horn, Coleman',
 'Norton, Terra',
 ' Sare, Androw',
 'Hodgson, Sherylann',
 'Satchell, Samantha',
 'GOLDY, JANE',
 'FOSMO, TIM',
 'THOMPSON, ADDISON',
 'Brown, Samiya',
 'Wright, Van',
 'ULLRICH, MATT',
 'Dais, Jessica',
 'DALBY, MARK',
 'DALTON, ANN',
 ' Strong, Heather',
 'HUDSON, BRANDI',
 'HUDSON, RYLEE',
 'DANREUTHER, KOURTNEY',
 'SMITH, MASON',
 'Soltan, Christopher',
 'Esponda, Ashton',
 'BRITT, NATE',
 'SMITH, CODY',
 'SMITH, BRYAN',
 'STAIANO, NICK',
 'DESTEFANO, HEIDI',
 'DESTEFANO, RAYMOND',
 'MINTURN, ROB',
 'MIEARS, RODNEY',
 'Fack, Travis',
 'WILLIS, KENTZ',
 'Williams, Daniel',
 'Olson, Kristen',
 'SMITH, CALEB',
 'burris, andrew',
 'Burris, Fisher',
 ' Roush, Krysta',
 'RIGSBY, PAUL',
 'RICKS, GARRETT',
 'HARRIS, MARTIN',
 'BROWN, SEAN',
 'Scarlett, Ryley',
 'MCSTAY, TEMPE',
 'BAUM, JOEL',
 'Morrison, Josh',
 'BAUM, HUNTER',
 'grimm, zach',
 'RAINE, CANDACE',
 'Grimm, Jana',
 'Reistad, Scott',
 'Frisk, Deanna',
 'FRIEDRICH, Kristin',
 'Cross, Larry',
 'ERICKSON, SPENCER',
 'ERICKSON, MCKENZIE',
 'ERICKSON, CHASE',
 'ERICKSON, AARON',
 'HUNTRODS, CRYSTAL',
 'Radosevich, Tori',
 'Dahlstrom, Victoria',
 'SMYLIE, AMANDA',
 'Scarlett, Marcie',
 'REED, JIM',
 'WINTER, JORDAN',
 'CVIKEL, LEVI',
 'Jennings, Sarah',
 'Jennings, Noah',
 'Jennings, Megan',
 'wallover, michael',
 'Walters, Austin',
 'UNTERSEHER, JEREMIAH',
 'Warren, Myriah',
 'MAGELKY, THANE',
 'Waters, Alyssa',
 'WATERSON, JUSTIN',
 'Bryan, Wiesje',
 'Doke, Daniel',
 'VIGNAROLI, TAYLOR',
 'Marcure, Andrew',
 'HELENBOLT, CHELSEA',
 'HEINRICH, LAURA',
 'Yarborough, Nancy',
 'Heath, Jim',
 'Grethen, Tyler',
 'DOUGHERTY, GAVIN',
 'Cherry, Doug',
 'CHEESBROUGH, CASEY',
 'ASHER, GENVIEVE',
 'ASBELL, AMY',
 'ASBELL, SM',
 'MALKOWSKI, MORGAN',
 'Eckendorf, Maria',
 'Eckendorf, Mariann',
 'HOUSEMAN, DAVE',
 'LEWALLAN, AMANDA',
 'Lewis, Kim',
 'LEITNER, MARDELL',
 'NICHOLAS, JESSICA',
 'LEACH, SARAH',
 'LEACH, NATHAN',
 'LEACH, ADAM',
 'WALKER, AUBREY',
 'FULLER, JEFF',
 'FINLEY, CHERYL',
 'FIEDLER, KC',
 'Bowkley, Brooke',
 'BOULEY, BECCA',
 'Biegler, Chelsey',
 'Gerleman, Bridget',
 'SKEIM-TRUE, JOANN',
 'RICKER, DENNIS',
 'RICKER, CASH',
 'HINEMAN, ALYSIA',
 'LITKE, ROBERT',
 'Kent, Meghan',
 'HINEMAN, WARD',
 'Hirschman, Audrey',
 'Kekich, Meagan',
 'Hirschman, Jacob',
 'Huskerson, Joel',
 'Holman, Cathy',
 'MARNELL, BECKY',
 'MARNELL, MIKE',
 'ROMEISER RODGERS, LILLIE',
 'RODGERS, PATRICK',
 'Mudder, Hanna',
 'RAMAGE, MYRON',
 'ROMAN, DIANE',
 'IDEKER, CARLIE',
 'Schumacher, Bridget',
 'ELDER, EDISON`',
 'Boden, Brian',
 'Anderson, Jennifer',
 'ANDERSON, BRADEN',
 'Shideman, Jeff',
 'Shideman, Kade',
 'THOMAS, ANGIE',
 'RICE, ROCHELLE',
 'RICE, BRODIE',
 'Crecelius, Cora',
 'Boice, Diane',
 'knap, scott',
 'Weber, Paxton',
 'WEBER, ANNIE',
 'Thomas, Courtney',
 'WORMALD, SAWYER',
 'WORMALD, SEEGER',
 ' Bettles, Jessica',
 'JONAS, BRADY',
 'BESSLER, JESSICA',
 'Berg, Echo',
 'Bennett, Faustyna',
 'RAMAGE, AMY',
 'Lawrence, Tressa',
 'OSMAN, LORI',
 'Pederson, Shannon',
 'Redinger, Kristina',
 'Redinger, Derek',
 'MARNELL, TERRI',
 'NAGLE, KAYLA',
 'Knigge, Regyn',
 'MASON, BELINDA',
 'Ingersoll, Amber',
 'Hodge, Aaron',
 'Giger, Joy',
 'GEORGE, SAMUEL',
 'EGE, BRANDEE',
 'Burgess, Lexie',
 'MASON, LOGAN',
 'MATERI, RACHEL',
 'KLEINFELDT, AUNIKA',
 'MERRIMAN, LILLIE',
 'Beard, Andrew',
 'NEWMAN, DANIELLE',
 'CUNLIFFE, ANDREW',
 'BECK, CASEY',
 'STUDER, ANNA',
 'RODE, JEFF',
 'Rideout, Daxton',
 'rideout, coby',
 'Rideout, Charlee',
 'Redden, Kip',
 'Redden, Carter',
 'BECK, JASON',
 'WINTERS, STEPHANIE',
 'MCCOLLEY, JOSEPH',
 'Metzler, Stephanie',
 'SULLIVAN, EJ',
 'MOORE, ANGELA',
 'SCHALLER, DAWN',
 'Van Hoosier, Clark',
 'FREDRICKS, NICK',
 'Trocha, Molly',
 'Drell, Gunnar',
 'BRANDO, TIFFANY',
 'JACOBS, BRENDA',
 'andrews, jake',
 'Aguirre, Joseph',
 'Jacobs, Dennis',
 'MOORE, STIRLING',
 'AGUIRRE, ALEX',
 'James, Brayden',
 'PETERSON, CHRISTINE',
 'PETERSON, ANNIKKI',
 'Peterson, Amy',
 'James, Jennifer',
 'JASSO, JENAR',
 'TROJAN, BRANDON',
 'Trojan, Sara',
 'KALINOWSKI, JOSH',
 'Kaminsky, Gus',
 'Kaminsky, jessica',
 'Cooper, Becky',
 'SOPER, NYSHA',
 'Reed, Jennifer',
 'Knap, Liz',
 'Reed, Rachel',
 'White, Ryan',
 'WHITE, KOURTNEY',
 'Hartje, Lynn',
 'Westervelt, Danny',
 'Harvey, Kati',
 'porterfield, dan',
 'Harvey, Kimberly',
 'HAYWARD, MARY',
 'FORISTER, KENDRA',
 'HAZEN, LINDSEY',
 'Ketcham, Bret',
 'COATES, WAYNE',
 'BOULTER, BENJAMIN',
 'Attebury, Jeremy',
 'White Horse, Bernard',
 'Thorkildsen, Trip',
 'Thorkildsen, Luke',
 'ROSE, WILLIAM',
 'OLSEN, BRIAN',
 'KINSEY, ERIN',
 'ESSER, MEREDITH',
 'Terrell, Casey',
 'Terrell, Callie',
 'Renstrom, Greg',
 'Renstrom, Allison',
 'REESE, JOBE',
 'MICHAUD, ROB',
 'KANE, SCOTT',
 'KASTEN, MIKE',
 ' Katschke, Amy',
 'Vaughn, Jake',
 'CLASON, MINDY',
 'Montgomery, Anne',
 'STEWART, JESSICA',
 'MERRITT, LADELL',
 'MELINKOVICH, JARED',
 'Meier, Shelley',
 'DONLAN, ERIN',
 'Passini, Hanneah',
 'Fehlauer, Alyssa',
 'COMER, JAMES',
 'HOLLAND, DAVID',
 'LAKEY, JODI',
 'Boomer, Suzie',
 'wiley, mitch',
 'WHIPPLE, RACHEL',
 'Lamb, Kim',
 'LANE, TERRY',
 'LARSEN, BEN',
 'LARSEN, ERIKA',
 'Stewart, Robin',
 'LARSON, SCOTT',
 'PARKS, CHARLES',
 'MILLER, JULIE',
 'Larson, Sydney',
 'MILES, RICH',
 'Miles, Amber',
 'Lavin, Tim',
 'Passini, Scott',
 'metzler, brad',
 'Annette, Vaira',
 'CLAIR, TRAVUS',
 'VIGNERI, NOELLE',
 'VIGNERI, HELENA',
 'Stoner, Shelly',
 'Stoner, Clay',
 'KATSCHKE, JOSEPH',
 'SHRINER, KARI',
 'Katschke, Madelyn',
 'KATZ, DANIEL',
 'Bestram, Matt',
 'NEWELL, ERIC',
 'SKALSKY, MARY',
 'skalsky, sara',
 'nero, alex',
 'ZELENKA, JOSEPH',
 'Neau, Jessica',
 'MILNER, TIFFANY',
 'MILNE, SHAE',
 'Kosine, Brandon',
 'Schwamb, Linda',
 'Jones, Ryan',
 'Jones, Celeste',
 'Jones, Angela',
 'Huebner, Becky',
 'BLAND, JEREMY',
 'BLAND, SIMONE',
 'BULLARD, SUSAN',
 'Clair, kalillah',
 'Bestram, Chelsea',
 'VIGNERI, ROBERT',
 ...]

In [12]:
# create df for each distance
bighorn100_df = entrants_df[(entrants_df['distance'] == '100M') | (entrants_df['distance'] == '100M Wait List')]
bighorn52_df = entrants_df[(entrants_df['distance'] == '52M') | (entrants_df['distance'] == '52M Wait List')]
bighorn32_df = entrants_df[(entrants_df['distance'] == '32M') | (entrants_df['distance'] == '32M Wait List')]
bighorn18_df = entrants_df[(entrants_df['distance'] == '18M') | (entrants_df['distance'] == '18M Wait List')]

In [13]:
bighorn100_df

              entrant      hometown homestate distance
351     DAVID WALLACE       Phoenix        AZ     100M
511     SIMON GUERARD      Carlsbad        CA     100M
1051    DREW PETERSEN  Silverthorne        CO     100M
1488        TED BROSS        Golden        CO     100M
113   YUICHIRO HIDAKA        Kamisu   Ibaraki     100M
...               ...           ...       ...      ...
1543      BRIAN SUKUT    Livingston      None     100M
1544    CHELSEA CLUFF          Reno      None     100M
1546       JACOB LUTZ    Waterville      None     100M
1548    LAURA MC MUNN     Vancouver      None     100M
1553            DI WU       Pullman      None     100M

[447 rows x 4 columns]

In [14]:
with pd.ExcelWriter("bighorn2024_entrants.xlsx") as writer:
   
    # use to_excel function and specify the sheet_name and index 
    # to store the dataframe in specified sheet
    bighorn100_df.to_excel(writer, sheet_name="100M", index=False)
    bighorn52_df.to_excel(writer, sheet_name="52M", index=False)
    bighorn32_df.to_excel(writer, sheet_name="32M", index=False)
    bighorn18_df.to_excel(writer, sheet_name="18M", index=False)